<a href="https://colab.research.google.com/github/OzyMeister/ML-Minor/blob/main/ML_Exp_2b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np

In [ ]:
data = pd.read_csv("/content/CreditScore_test.csv.zip")

In [ ]:
data

,x001,x002,x003,x004,x005,x006,x007,x008,x009,x010,...,x296,x297,x298,x299,x300,x301,x302,x303,x304,y
0,1566464,21.0,21.0,21.0,44.0,1,0,0,4,0,...,0,NaN,0,0,1,1,5.0,0,NaN,406
1,925102,108.0,2.0,27.0,156.0,0,2,3,3,1,...,13090,0.5930,1,1,1,0,1.0,0,NaN,679
2,1273974,218.0,64.0,107.0,218.0,0,0,0,0,0,...,13689,1.0140,1,1,1,0,1.0,13689,1.0140,750
3,1456723,NaN,NaN,NaN,146.0,1,0,0,1,1,...,0,NaN,1,1,1,0,NaN,0,NaN,515
4,798267,0.0,0.0,0.0,230.0,1,2,4,0,2,...,0,NaN,1,1,1,0,NaN,0,NaN,589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1341378,51.0,3.0,18.0,120.0,0,1,3,0,1,...,23132,0.9084,1,1,1,0,NaN,0,NaN,541
19996,1290822,187.0,13.0,107.0,415.0,0,0,1,1,0,...,19269,0.8273,1,1,1,0,NaN,0,NaN,831
19997,795243,95.0,19.0,57.0,95.0,1,0,2,2,2,...,0,NaN,1,1,1,0,5.0,30770,1.2299,543
19998,1323781,NaN,NaN,NaN,40.0,0,0,0,0,5,...,0,NaN,1,1,1,0,NaN,0,NaN,488
19999,1341326,NaN,NaN,NaN,86.0,0,0,0,0,0,...,0,NaN,0,0,0,1,NaN,0,NaN,491

In [ ]:
data = data.fillna(0)
# data = data.fillna(data.mean())
data

,x001,x002,x003,x004,x005,x006,x007,x008,x009,x010,...,x296,x297,x298,x299,x300,x301,x302,x303,x304,y
0,1566464,21.0,21.0,21.0,44.0,1,0,0,4,0,...,0,0.0000,0,0,1,1,5.0,0,0.0000,406
1,925102,108.0,2.0,27.0,156.0,0,2,3,3,1,...,13090,0.5930,1,1,1,0,1.0,0,0.0000,679
2,1273974,218.0,64.0,107.0,218.0,0,0,0,0,0,...,13689,1.0140,1,1,1,0,1.0,13689,1.0140,750
3,1456723,0.0,0.0,0.0,146.0,1,0,0,1,1,...,0,0.0000,1,1,1,0,0.0,0,0.0000,515
4,798267,0.0,0.0,0.0,230.0,1,2,4,0,2,...,0,0.0000,1,1,1,0,0.0,0,0.0000,589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1341378,51.0,3.0,18.0,120.0,0,1,3,0,1,...,23132,0.9084,1,1,1,0,0.0,0,0.0000,541
19996,1290822,187.0,13.0,107.0,415.0,0,0,1,1,0,...,19269,0.8273,1,1,1,0,0.0,0,0.0000,831
19997,795243,95.0,19.0,57.0,95.0,1,0,2,2,2,...,0,0.0000,1,1,1,0,5.0,30770,1.2299,543
19998,1323781,0.0,0.0,0.0,40.0,0,0,0,0,5,...,0,0.0000,1,1,1,0,0.0,0,0.0000,488
19999,1341326,0.0,0.0,0.0,86.0,0,0,0,0,0,...,0,0.0000,0,0,0,1,0.0,0,0.0000,491

In [ ]:
input=data.drop(['y'],axis=1).values
output=data['y'].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(input,output,test_size=0.2, random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
ml=LinearRegression()
ml.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred=ml.predict(x_test)
print(y_pred)

[541.44424887 571.01458548 554.18010175 ... 650.50315132 680.87261736
 680.97772062]

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8523576342459722